.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*

.DS_Store
.vercel
.env*.local
.yarn/cache/@img-sharp-darwin-arm64-npm-0.33.5-c319591c53-10.zip
.yarn/cache/@img-sharp-libvips-darwin-arm64-npm-1.0.4-d0d063884a-10.zip
.yarn/cache/@img-sharp-win32-x64-npm-0.33.5-e9e45d0448-10.zip
.yarn/cache/@next-swc-darwin-arm64-npm-14.2.15-015d59327c-10.zip
.yarn/cache/@next-swc-win32-x64-msvc-npm-14.2.15-1491129589-10.zip
.yarn/cache/@parcel-watcher-darwin-arm64-npm-2.4.1-7294eb72cd-10.zip
.yarn/cache/@parcel-watcher-win32-x64-npm-2.4.1-770608937e-10.zip
.yarn/cache/esbuild-darwin-arm64-npm-0.14.47-5ad0d743a0-10.zip
.yarn/cache/esbuild-windows-64-npm-0.14.47-d90118566a-10.zip
.yarn/cache/fsevents-patch-6b67494872-10.zip
.yarn/cache/fsevents-patch-da71431527-10.zip
apps/frontend/src/components/cms/component/HomePageHeroBlock/_client.tsx
